:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}
.container {
  height: 100%;
}
header {
  text-align: center;
  margin-bottom: 1rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.score {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 2rem;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 1.5rem;
}
.image img {
  min-width: 100%;
  max-height: 18rem;
}
.card {
  background-color: #213547;
  max-width: 25rem;
}
.textContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}
footer {
  background-color: #213547;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 1100px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  :root {
    overflow-y: auto;
  }
}
